/* Diseño responsivo */
@media (max-width: 768px) {
    .iframe-container iframe {
        flex: 1 1 100%;
    }
}

/* Ajustes de responsividad para artículos */
@media (max-width: 768px) {
    .news article {
        padding: 15px;
    }

    .iframe-container {
        padding-bottom: 75%; /* Proporción de aspecto más alta para pantallas pequeñas */
    }
}

/* Ajustes de responsividad */
@media (max-width: 768px) {
    nav {
        background-color: rgba(0, 0, 0, 0.8); /* Fondo oscuro semi-transparente */
        padding: 10px; /* Espacio alrededor del menú */
        border-radius: 8px; /* Bordes redondeados para un acabado más suave */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5); /* Sombra para darle profundidad */
    }

    nav ul {
        display: flex; /* Utiliza flexbox para organizar elementos */
        flex-direction: column; /* Coloca los elementos en columna */
        padding: 0; /* Elimina el padding por defecto */
        margin: 0; /* Elimina el margin por defecto */
        align-items: center; /* Centra los elementos horizontalmente */
    }

    nav ul li {
        display: block; /* Asegura que cada elemento esté en una nueva línea */
        margin: 10px 0; /* Espacio entre elementos */
        text-align: center; /* Centra el texto de los elementos */
        width: 100%; /* Hace que cada item ocupe el ancho completo */
    }

    nav ul li a {
        display: block; /* Hace que el enlace ocupe todo el ancho */
        padding: 15px; /* Espacio alrededor del texto del enlace */
        font-size: 1.1rem; /* Tamaño de fuente más grande */
        color: white; /* Color del texto */
        text-decoration: none; /* Sin subrayado */
        transition: background-color 0.3s; /* Transición suave para el fondo */
    }

    nav ul li a:hover {
        background-color: rgba(255, 255, 255, 0.2); /* Efecto hover en el enlace */
    }

    /* Margen superior para el body en móviles */
    body {
        margin-top: 120px; /* Ajusta el margen superior según sea necesario */
    }

    .featured-matches .grid {
        grid-template-columns: 1fr; /* Una columna en pantallas pequeñas */
    }
}